header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: content;
}

.two-column {
    &.main {
        display: grid;
        grid-template-areas:
            "header header"
            "nav content"
            "footer footer";
        grid-template-columns: 250px 1fr;
        grid-template-rows: auto 1fr auto;
        height: 100vh;

        header {
            border-bottom: 1px solid #333;
            position: fixed;
            width: 100%;
            z-index: 1;
            background: var(--color-bg-secondary);
            padding-left: 12px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: left;

            button.navbar-toggle {
                margin: 0px;
            }
            .icon-bar {
                background: #fff;
            }
            .navbar-brand {
                font-weight: 600;
                font-size: 23px;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
        }
    }

    &.collapsed {
        nav,
        main {
            transform: translateX(-250px);
            .content-area {
                width: 100vw;
            }
        }
    }

    @media (max-width: 767px) {
        .content-area {
            width: 100vw;
            overflow: hidden;
        }
    }
}

body.single {
    main .content-area > div {
        grid-gap: 0px;
    }
}
main .content-area > div {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 12px;
}

@media (max-width: 991px) {
    main > .content-area > div {
        grid-template-columns: auto auto;
    }
}
@media (max-width: 768px) {
    main > .content-area > div {
        grid-template-columns: auto;
    }
}
