/*!------------------------------------------------------------------
[Post]
*/
.single {
    .content-area .card {
        min-height: 100%;
    }
    .post {
        max-width: 767px;
        margin: auto;
        text-align: justify;
    }
    .post-thumbnail img {
        max-height: 500px;
        object-fit: cover;
        width: 100%;
    }
    @media (max-width: 991px) {
        .post-thumbnail img {
            height: 400px;
            object-fit: cover;
        }
    }
    .author-info {
        display: flex;
        padding: 20px;
        margin: 40px 0px;
        background: #efefef;
        .author-avatar {
            padding: 16px 0;
            img {
                width: 120px;
                object-fit: cover;
            }
        }
        .author-details {
            padding: 10px 20px;
            display: flex;
            flex-direction: column;
            .author-name {
                font-size: 16px;
                color: #000;
                font-weight: 600;
            }
        }
    }
}
.posts {
    .content-area {
        padding: 14px;
    }
    .item .card {
        margin-bottom: 0px;
    }
    .post-content > div {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        margin-bottom: 10px;
        min-height: 72px;
    }
    .post-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top: 1px solid #eee;
        padding: 16px 0;
        .post-author {
            display: flex;
            .post-avatar {
                width: 40px;
                border-radius: 50%;
                img {
                    border-radius: 100%;
                    object-fit: cover;
                    width: 26px;
                    height: 26px;
                }
            }
        }
    }
    .post-thumbnail img {
        width: 100%;
        max-width: none;
        height: 250px;
        object-fit: cover;
    }
    .post {
        margin-bottom: 0px;
    }
}

.hljs code {
    line-height: 2.5rem !important;
}
.post {
    margin-bottom: 20px;
    h1:first-child,
    h2:first-child,
    h3:first-child,
    h4:first-child,
    h5:first-child,
    h6:first-child {
        margin-top: 0px;
    }
    p > img {
        max-width: 100%;
    }
    .post-header {
        margin: 16px 0 16px;
        .post-meta {
            color: #131313;
            font-size: 13px;
            font-weight: 600;
            letter-spacing: 0.04em;
            margin-bottom: 10px;
        }
    }

    .post-content {
        padding-bottom: 20px;
        padding: 0px;
    }

    .post-title {
        font-weight: 500;
        min-height: 20px;
        margin: 0 0 10px;
        text-transform: initial;
        a {
            font-weight: 600;
            letter-spacing: 0.5px;
            color: var(--color-text-secondary);
            margin: 0 0 10px;
            transition: 0.2s color linear;
            &:hover {
                color: var(--link-hover);
            }
        }
    }
    a.post-more {
    }
    .slider {
        img {
            margin-left: 0;
            margin-right: 0;
        }
        &.owl-carousel {
            width: 120%;
            margin-left: -10%;
            margin-right: -10%;
        }
    }
    .fluid-width-video-wrapper {
        width: 120%;
        margin-left: -10%;
        margin-right: -10%;
    }
    .gallery {
        margin-left: -10%;
        margin-right: -10%;
    }
    blockquote {
        margin: 30px 0px;
    }
}

@media (max-width: 991px) {
    .post p > img,
    .post-thumbnail img {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .post {
        .slider.owl-carousel,
        .fluid-width-video-wrapper {
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        pre,
        .gallery,
        blockquote {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.pagination {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    > li > a {
        color: #333;
        background-color: initial;
        border-color: #484747;

        &:hover {
            background-color: #484747;
            border: 1px solid #4b4b4b;
            color: #e8e7e7;
        }
    }
    .active {
        background-color: #484747;
        border: 1px solid #4b4b4b;
        color: #e8e7e7;
    }
}
